ul {
    list-style-type: none;
	margin: 0; 
	padding: 0;    
}

ul li {
	margin: 0; 
	padding: 0;
	height: 35px;
}

li label {
	margin-right: 10px;
	width: 100px;
}

#update-btn {
	position: fixed;
	left:220px;
	top:160px;
}

#queryId {
	font-weight: bold;
	margin-left: 24px;
}

#add-img {
	height: 14px;
	width: 14px;
}

.name-input {
	margin-left: 16px;
}

.id-input {
	margin-left: 24px;
}

.type {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border-radius: 4px;
    border: 1px none;
    font-size: 14px;
    font-weight: bold;
}

