@CHARSET "UTF-8";

thead  th {
	text-align: left;
	padding: 5px;
}

tbody  td {
	text-align: left;
	padding:0 5px 0 5px;
}

tfoot th {
	text-align: right;
}

#content {
	position: relative;
}

#result {
	float: left;
	width: 550px;
	margin-left: 50px;
}

#config {
	margin-left: 700px;
	max-width: 600px;
	border:solid gray;
	padding-bottom: 5px;
}


#id {
	width: 20px;
}

#p10 {
	width: 50px;
}

#p48 {
	width: 50px;
}

#ap {
	width: 50px;
}

#explain {
	clear: both;
	position:relative;
	top:50px;
	left:25px;
	color: red;
	font-size: 11px;
}

.prop-name {
 	font-weight:bold;
}

.prop-value {
	min-width: 500px;
	padding-left: 1em;
}