@CHARSET "UTF-8";

thead  th {
	text-align: left;
	padding: 5px;
}

tbody  td {
	text-align: left;
	padding:0 5px 0 5px;
}

tfoot th {
	text-align: right;
}

#id {
	width: 20px;
}

#p10 {
	width: 50px;
}

#p48 {
	width: 50px;
}

#ap {
	width: 50px;
}

#explain {
	position:relative;
	top:50px;
	left:5px;
	color: red;
	font-size: 11px;
}